#pubtab table {
   width: 100%;
}

.pubtab th {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
     
}

#pubtab .yui-dt-label .yui-dt-sortable {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.yui-skin-sam .yui-dt th {
    background:#E8E8EA;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;    
}

.yui-skin-sam .yui-dt-liner-null {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
}

.yui-skin-sam table.yui-table-inner {
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
}

.yui-skin-sam .yui-dt th .yui-dt-label {
  text-align: center;
  margin-left: 10px;
}

.yui-skin-sam  .yui-dt-even th.yui-table-inner-top {
    width: 5%;
    padding: 3px; 
    border-style: none none solid none;
    border-width: 0 0 thin 0; 
    border-color: #B8B8B8;
    background: #F4F4F4;
    text-align: right; 
    white-space: nowrap;
}

.yui-skin-sam  .yui-dt-odd th.yui-table-inner-top {
    width: 5%;
    padding: 3px; 
    border-style: none none solid none;
    border-width: 0 0 thin 0; 
    border-color: #B8B8B8;
    background: #D0E2FF;
    text-align: right; 
    white-space: nowrap;
}

.yui-skin-sam  td.yui-table-inner-top {
    padding: 3px;
    border-style: none none solid none;
    border-width: 0 0 thin 0; 
    border-color: #BBBBBB;
}

.yui-skin-sam  tr.yui-dt-first  td.yui-table-inner-top {
    padding: 3px;
    border-style: none none solid none;
    border-width: 0 0 thin 0;
    border-color: #BBBBBB;

}

.yui-skin-sam  .yui-dt-even th.yui-table-inner-bottom {
    padding: 3px;
    border-style: none;
    border-width: 0; 
    border-color: #A8A8A8;
    text-align: right;    
    background: #F4F4F4;
    white-space: nowrap;
}

.yui-skin-sam  .yui-dt-odd th.yui-table-inner-bottom {
    padding: 3px;
    border-style: none;
    border-width: 0; 
    border-color: #A8A8A8;
    background: #D0E2FF;
    text-align: right;  
    white-space: nowrap;
}

.yui-skin-sam tr.yui-dt-first th.yui-table-inner-bottom {
    border-style: none;
    border-width: 0;
    border-color: #A8A8A8;
    text-align: right;
    white-space: nowrap;
}

.yui-skin-sam  td.yui-table-inner-bottom {
    padding: 3px;
    border-style: none;
    border-width: 0; 
    border-color: #A8A8A8;
}

.yui-skin-sam tr.yui-dt-first td.yui-table-inner-bottom {
    border-style: none;
    border-width: 0;
    border-color: #A8A8A8;
}

.yui-skin-sam .yui-dt-center {
  text-align: center;
}

.yui-skin-sam th.yui-dt-col-date {
    border-top-style: solid;
    border-top-width: thin;
    border-color: #C8C8C8;   
}

.yui-skin-sam th.yui-dt-col-owner {
    border-top-style: solid;
    border-top-width: thin;
    border-color: #C8C8C8;
}

.yui-skin-sam div.dt-pag-nav {
    border-top-style: solid;
    border-top-width: thin;
    border-color: #C8C8C8;
}

#myAutoCompleteEditor { 
           width:12em;
           padding-bottom:1.7em; 
} 

.yui-skin-sam td.filter-container {
   vertical-align: middle;
}

.yui-skin-sam em.yui-button-state {
   font-style: normal; 
   display: block; 
   text-align: left; 
   white-space: nowrap; 
   width: 7em; 
   overflow: hidden; 
   text-overflow: ellipsis; 
}

.yui-skin-sam em.yui-button-label {
   font-style: normal; 
   display: block; 
   text-align: center; 
   white-space: nowrap; 
   width: 9em; 
   overflow: hidden; 
   text-overflow: ellipsis; 
}
