<?xml version="1.0" encoding="UTF-8"?>

<!-- ===========================================================================
 ! $HeadURL::                                                                  $
 ! $Id::                                                                       $
 ! Version: $Rev::                                                             $
 !==============================================================================
 !
 ! IMEx Central: application context
 !
 !========================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"


    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd

        http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd">


<!-- ========================================================== CONFIGUATION -->

  <bean id="applicationContextProvider"
       class="edu.ucla.mbi.util.context.ApplicationContextProvider" />

  <import resource="spring/dao.xml" />
  <import resource="spring/context.xml" />
  <import resource="spring/aop-logger.xml" />

<!-- ========================================================= ENTRY MANAGER -->

 <bean id="entryManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.EntryManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="workflowContext" ref="workflowContext"/>
   <property name="userContext" ref="userContext"/>
   <property name="keyspaceContext" ref="keyspaceContext"/>
   
 </bean>

<!-- ========================================================= INDEX MANAGER -->

 <bean id="indexManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.IndexManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="workflowContext" ref="workflowContext"/>
   <property name="userContext" ref="userContext"/>
   <property name="keyspaceContext" ref="keyspaceContext"/>

   <property name="esIndexUrl"  value="${icentral.esindex.url}"/>
   <property name="esIndexActive"  value="${icentral.esindex.active}"/>
   
 </bean>

<!-- ==================================================== ATTACHMENT MANAGER -->

 <bean id="attachmentManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.AttachmentManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="userContext" ref="userContext"/>
   
 </bean>
<!-- ========================================================== NEWS MANAGER -->

 <bean id="newsManager" class="edu.ucla.mbi.imex.central.NewsManager">
         
 </bean>

<!-- ========================================================= WATCH MANAGER -->

 <bean id="watchManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.WatchManager">

   <property name="tracContext" ref="tracContext"/>
   
 </bean>

<!-- ================================================= NOTIFIACATION MANAGER -->

 <bean id="notificationManager" init-method="initialize" 
       class="edu.ucla.mbi.imex.central.NotificationManager">

   <property name="queueDir" value="/var/icentral/queue" />
   
 </bean>

<!-- ====================================================== USERPREF MANAGER -->

 <bean id="uprefManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.UserPrefManager">

   <property name="userContext" ref="userContext"/>
   <property name="defUserPrefs">     <!-- NOTE: need a map of table layouts -->
    <value>                              
{
    "legend":"User Preferences", 
    "tableLayout":"null",
    "tableLayoutMap":{},
    "options":["curation-tool","curation-requests","auto-watch","message-mail"], 
    "option-def":{
      "curation-tool": {
         "legend":"Curation Tool",
         "options":["curation-url","curation-pmid-pattern"],
         "option-def":{
            "curation-url":{
              "label": "URL",
              "type": "text",
              "size":"64", 
              "value": "http://imex.mbi.ucla.edu/curator/curator/curatePaper.do?pubmedId=%%pmid%%",
              "opp":"cturl",
              "opcode": "cturl"
            },
            "curation-pmid-pattern":{
              "label": "PMID Pattern",
              "type": "text",
              "size":"16", 
              "value": "%%pmid%%",
              "opp":"ctpmid",
              "opcode": "ctpmid"
            }
         }
      },
      "curation-requests": {
         "legend":"Curation Requests",
         "options":["zotero-user"],
         "option-def":{
            "zotero-user":{
              "label": "Zotero User",
              "type": "text",
              "size":"16", 
              "value": "",
              "opp":"crzu",
              "opcode": "crzu"
            }
         }
      },
      "auto-watch": {
        "legend":"Watch List",
        "label": "Automatic watch list generation",
        "type": "boolean", 
        "value": "true",
        "opp": "aw",         
        "options":["record-add","record-owner","comment-owner","attachment-owner"],
        "option-def":{
          "record-add": {
            "label": "Add all newly created records",
            "type": "boolean",
            "value": "false",
            "opp":"awra", 
            "opcode": "watchlistAllRecords"
          },
          "record-owner": {
            "label": "Add the records that I create",
            "type": "boolean",
            "value": "false",
            "opp":"awro",
            "opcode": "watchlistRecordOwner"   
          },
          "comment-owner": {
            "label": "Add the records with comments I created",
            "type": "boolean",
            "value": "true",
            "opp":"awco",
            "opcode": "commentRecord"
          },
          "attachment-owner": {
            "label": "Add the records with attachments I created",
            "type": "boolean",
            "value": "true",
            "opp":"awao", 
            "opcode": "attachmentRecord"
          }
        }
    },
    "message-mail": {
      "legend":"Mail Options",
      "label": "Send out mail notifications",
      "value": "false",
      "opp": "mm",
      "options": ["mail-record-watched", "mail-comment-new", "mail-attachment-new", "mail-news", "mail-record-new", "mail-account-new" ],
      "option-def":{
        "mail-news": {
          "label": "News announcements",
          "value": "false",
          "opp": "mmna", 
          "opcode": "newsMail"
        },
        "mail-account-new": {
          "acl-role":["administrator"],
          "label": "New account creation (administrators only)",
          "value": "false",
          "opp": "mmacc", 
          "opcode": "accountMail"
        },
        "mail-record-new": {
          "label": "New record creation",
          "value": "false",
          "opp": "mmrec",
          "opcode": "recordMail"
        },
        "mail-record-watched": {
          "legend":"Watched Records",
          "label": "Watched record updates",
          "value": "false",
          "opp": "mmreu", 
          "opcode": "watchMail",
          "options": ["mail-comment-watched","mail-attachment-watched"],
          "option-def":{
              "mail-comment-watched": {          
              "label": "Include comments",
              "value": "false",
              "opp": "mmcomw", 
              "opcode": "attachMail"
             },
            "mail-attachment-watched": {          
              "label": "Include attachments (curators/owners only)",
              "value": "false",
              "opp": "mmattw", 
              "opcode": "attachMail"
             }
          }
       },
        "mail-comment-new": {          
          "label": "All comments",
          "value": "false",
          "opp": "mmcom", 
          "opcode": "attachMail"
        },
        "mail-attachment-new": {          
          "label": "All attachments (curators/owners only)",
          "value": "false",
          "opp": "mmatt", 
          "opcode": "attachMail"
        }
      }
    }
  },
  "opcode": "update"
}
    </value>
   </property>
   
 </bean>

<!-- ======================================================================= -->

  <bean id="aclVal" class="edu.ucla.mbi.util.struts.AclValidator">
     <property name="aclContext" ref="aclContext"/>
  </bean>

<!-- ====================================================== DIP PROXY ACCESS -->

 <bean id="ncbiProxyClient"  
          class="edu.ucla.mbi.imex.central.NcbiProxyClient">
 <!--
  <property name="endpoint"
        value="http://dip.doe-mbi.ucla.edu:80/dip-proxy/ncbi-service"/>

  <property name="endpoint"
        value="http://dip.mbi.ucla.edu/dip-proxy/ws/soap/ncbi-service"/>
  <property name="debug" value="false" />
-->
  <property name="endpoint"
        value="http://10.1.3.111:8080/dip-proxy/ws/soap/ncbi-service"/>
 
   <property name="debug" value="false" />
 </bean>

<!-- ======================================================== STRUTS ACTIONS -->

 <import resource="spring/actions.xml" />
 <import resource="spring/workflow.xml" />
 <import resource="spring/keyspace.xml" />
 <import resource="spring/entry.xml" />


 <bean id="imex-rs-imp" class="edu.ucla.mbi.imex.central.cxf.IcentralRestImpl"
       scope="prototype" init-method="initialize" >

   <property name="entryManager" ref="entryManager"/>
   <property name="imexUrlMap">
     <map>
      <entry key="DIP Database" 
             value="http://dip.doe-mbi.ucla.edu/dip/Search.cgi?SM=7&amp;AU=&amp;JO=&amp;YR=&amp;Search=Query+DIP&amp;IMX=%%ACC%%" />
      <entry key="IntAct Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
      <entry key="InnateDB Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
      <entry key="MINT Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
      <entry key="MPIDB Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
      <entry key="MatrixDB Database" value="http://matrixdb.univ-lyon1.fr/cgi-bin/current/newPort?type=publication&amp;value=%%PMID%%" />
      <entry key="Molecular Connections Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
      <entry key="UniprotKB Database" value="http://www.ebi.ac.uk/intact/query/%%ACC%%" />
     </map>
   </property>

<!--
http://www.ebi.ac.uk/intact/export?format=xml_html&query=IM-20288-1&negative=false&spoke=false&ontology=false&sort=intact-miscore&asc=false

http://www.ebi.ac.uk/intact/query/IM-20288-1?conversationContext=4http://www.ebi.ac.uk/intact/query/IM-20288-1?conversationContext=4

http://www.ebi.ac.uk/intact/export?format=mitab_25&query=IM-20288-1&negative=false&spoke=false&ontology=false&sort=intact-miscore&asc=false
-->



   <property name="imexDtaMap">
     <map>
      <entry key="DIP Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>

      <entry key="IntAct Database">
        <map>
          <entry key="mitab25"
                 value="http://www.ebi.ac.uk/intact/export?format=mitab_25&amp;query=%%ACC%%&amp;lnegative=false&amp;spoke=false&amp;ontology=false&amp;sort=intact-miscore&amp;asc=false" />
          <entry key="mitab26"
                 value="http://www.ebi.ac.uk/intact/export?format=mitab_26&amp;query=%%ACC%%&amp;lnegative=false&amp;spoke=false&amp;ontology=false&amp;sort=intact-miscore&amp;asc=false" />
          <entry key="mitab27"
                 value="http://www.ebi.ac.uk/intact/export?format=mitab_27&amp;query=%%ACC%%&amp;lnegative=false&amp;spoke=false&amp;ontology=false&amp;sort=intact-miscore&amp;asc=false" />
          <entry key="mif25"
                 value="http://www.ebi.ac.uk/intact/export?format=xml_2_54&amp;query=%%ACC%%&amp;lnegative=false&amp;spoke=false&amp;ontology=false&amp;sort=intact-miscore&amp;asc=false" />
        </map>
      </entry>

      <entry key="InnateDB Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>

      <entry key="MINT Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>

      <entry key="MPIDB Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>

      <entry key="MatrixDB Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>
      <entry key="Molecular Connections Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>
      <entry key="UniprotKB Database">
        <map>
          <entry key="mitab25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab25" />
          <entry key="mitab26"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab26" />
          <entry key="mitab27"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=tab27" />
          <entry key="mif25"
                 value="http://imex.mbi.ucla.edu/xpsq-dip-imex/service/rest/current/search/interaction/%%ACC%%?format=xml25" />
        </map>
      </entry>
     </map>
   </property>
   
 </bean>

 <import resource="spring/cxf.xml" />

<!-- ========================================================== WEB SERVICES -->
<!-- ver 1.x -->

 <bean id="ws-v10" init-method="initialize"
       class="edu.ucla.mbi.imex.central.ws.v10.server.IcentralPortImpl" >
   <property name="entryManager" ref="entryManager"/>
   <property name="aclValidator" ref="aclVal"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v10" bean="#ws-v10"/>
 <wss:binding url="/ws" service="#ics-v10" />
 <wss:binding url="/ws-v10" service="#ics-v10" />

<!-- ver 2.x -->

 <bean id="ws-v20" init-method="initialize"
       class="edu.ucla.mbi.imex.central.ws.v20.server.IcentralPortImpl" >
   <property name="entryManager" ref="entryManager"/>
   <property name="attachmentManager" ref="attachmentManager"/>  
   <property name="aclValidator" ref="aclVal"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v20" bean="#ws-v20"/>
 <wss:binding url="/ws-v20" service="#ics-v20" />

</beans>
