<?xml version="1.0" encoding="UTF-8"?>

<!-- ===========================================================================
 ! $HeadURL::                                                                  $
 ! $Id::                                                                       $
 ! Version: $Rev::                                                             $
 !==============================================================================
 !
 ! IMEx Central: application context
 !
 !========================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"


    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd

        http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd">


<!-- ========================================================== CONFIGUATION -->

  <bean id="applicationContextProvider"
       class="edu.ucla.mbi.util.context.ApplicationContextProvider" />

  <import resource="spring/context.xml" />
  <import resource="spring/aop-logger.xml" />

<!-- ========================================================= ENTRY MANAGER -->

 <bean id="entryManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.EntryManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="workflowContext" ref="workflowContext"/>
   <property name="userContext" ref="userContext"/>
   <property name="keyspaceContext" ref="keyspaceContext"/>
   
 </bean>

<!-- ==================================================== ATTACHMENT MANAGER -->

 <bean id="attachmentManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.AttachmentManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="userContext" ref="userContext"/>
   
 </bean>
<!-- ========================================================== NEWS MANAGER -->

 <bean id="newsManager" class="edu.ucla.mbi.imex.central.NewsManager">
         
 </bean>

<!-- ========================================================= WATCH MANAGER -->

 <bean id="watchManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.WatchManager">

   <property name="tracContext" ref="tracContext"/>
   
 </bean>

<!-- ================================================= NOTIFIACATION MANAGER -->

 <bean id="notificationManager" init-method="initialize" 
       class="edu.ucla.mbi.imex.central.NotificationManager">

   <property name="queueDir" value="/var/icentral/queue" />
   
 </bean>

<!-- ====================================================== USERPREF MANAGER -->

 <bean id="uprefManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.UserPrefManager">

   <property name="userContext" ref="userContext"/>
   <property name="defUserPrefs">
    <value>
{
    "legend":"User Preferences", 
    "options":["auto-watch","message-mail"], 
    "option-def":{
      "auto-watch": {
        "legend":"Watch List",
        "label": "Automatic watch list generation",
        "type": "boolean", 
        "value": "true",
        "opp": "aw",         
        "options":["record-add","record-owner","comment-owner","attachment-owner"],
        "option-def":{
          "record-add": {
            "label": "Add all newly created records",
            "type": "boolean",
            "value": "false",
            "opp":"awra", 
            "opcode": "watchlistAllRecords"
          },
          "record-owner": {
            "label": "Add the records that I create",
            "type": "boolean",
            "value": "false",
            "opp":"awro",
            "opcode": "watchlistRecordOwner"   
          },
          "comment-owner": {
            "label": "Add the records with comments I created",
            "type": "boolean",
            "value": "true",
            "opp":"awco",
            "opcode": "commentRecord"
          },
          "attachment-owner": {
            "label": "Add the records with attachments I created",
            "type": "boolean",
            "value": "true",
            "opp":"awao", 
            "opcode": "attachmentRecord"
          }
        }
    },
    "message-mail": {
      "legend":"Mail Options",
      "label": "Send out mail notifications",
      "value": "false",
      "opp": "mm",
      "options": ["mail-record-watched", "mail-record-new",  "mail-news", "mail-account-new","mail-attachment-new"],
      "option-def":{
        "mail-news": {
          "label": "News announcements",
          "value": "false",
          "opp": "mmna", 
          "opcode": "newsMail"
        },
        "mail-account-new": {
          "acl-role":["administrator"],
          "label": "New account creation (administrators only)",
          "value": "false",
          "opp": "mmacc", 
          "opcode": "accountMail"
        },
        "mail-record-new": {
          "label": "New record creation",
          "value": "false",
          "opp": "mmrec",
          "opcode": "recordMail"
        },
        "mail-record-watched": {
          "label": "Watched record updates",
          "value": "false",
          "opp": "mmreu", 
          "opcode": "watchMail"
        },
        "mail-attachment-new": {          
          "label": "New attachments (curators, record owners only)",
          "value": "false",
          "opp": "mmatt", 
          "opcode": "attachMail"
        }
      }
    }
  },
  "opcode": "update"
}
    </value>
   </property>
   
 </bean>

<!-- ======================================================================= -->

  <bean id="aclVal" class="edu.ucla.mbi.util.struts.AclValidator">
     <property name="aclContext" ref="aclContext"/>
  </bean>

<!-- ====================================================== DIP PROXY ACCESS -->

 <bean id="ncbiProxyClient" init-method="initialize"
          class="edu.ucla.mbi.imex.central.NcbiProxyClient">
  <property name="endpoint"
        value="http://dip.doe-mbi.ucla.edu:80/dip-proxy/ncbi-service"/>
  <property name="debug" value="false" />
 </bean>

<!-- ======================================================== STRUTS ACTIONS -->

 <import resource="spring/actions.xml" />
 <import resource="spring/workflow.xml" />
 <import resource="spring/keyspace.xml" />
 <import resource="spring/entry.xml" />


<!-- ========================================================== WEB SERVICES -->
<!-- ver 1.x -->

 <bean id="ws-v10" init-method="initialize"
       class="edu.ucla.mbi.imex.central.ws.v10.server.IcentralPortImpl" >
   <property name="entryManager" ref="entryManager"/>
   <property name="aclValidator" ref="aclVal"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v10" bean="#ws-v10"/>
 <wss:binding url="/ws" service="#ics-v10" />
 <wss:binding url="/ws-v10" service="#ics-v10" />

<!-- ver 2.x -->

 <bean id="ws-v20" init-method="initialize"
       class="edu.ucla.mbi.imex.central.ws.v20.server.IcentralPortImpl" >
   <property name="entryManager" ref="entryManager"/>
   <property name="aclValidator" ref="aclVal"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v20" bean="#ws-v20"/>
 <wss:binding url="/ws-v20" service="#ics-v20" />

</beans>
