<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
      <Appenders>

        <Console name="TRACE" target="SYSTEM_OUT">
          <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
      </Appenders>

      <Loggers>

        <Logger name="edu.ucla.mbi.imex.central.ws" level="trace" additivity="false">  
          <AppenderRef ref="TRACE"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.util.struts" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.util.struts.action" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.imex.central.struts.action" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.imex.central.dao" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.imex.central.EntryManager" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Logger name="edu.ucla.mbi.imex.central.IcWorkflowContext" level="info" additivity="false">  
          <AppenderRef ref="STDOUT"/> 
        </Logger>

        <Root level="error">
          <AppenderRef ref="STDOUT"/>
        </Root>

      </Loggers>
 </Configuration>
