<?xml version="1.0" encoding="utf-8" ?>
<!--
Licensee: Michael Gross
License Type: Evaluation
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- properties -->
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- D003 -->
        <property name="connection.url">jdbc:oracle:thin:@bourbon.ebi.ac.uk:1521:D003</property>
        <!-- IWEB                          -->
        <!--<property name="connection.url">jdbc:oracle:thin:@bourbon.ebi.ac.uk:1571:IWEB2</property>-->

        <!-- IWEB2 <property name="connection.password">readonly</property>-->
        <!-- ZPRO production DB -->
       <!--<property name="connection.url">jdbc:oracle:thin:@grappa.ebi.ac.uk:1531:ZPRO</property>-->

         <!-- OLS<property name="connection.url">jdbc:oracle:thin:@cumae.ebi.ac.uk:1531:ZPRO</property>-->
        <!-- <property name="connection.url">jdbc:oracle:thin:@amarula.ebi.ac.uk:1521:SZPRO</property>-->
        <property name="connection.username">IMEXCENTRAL</property>
        <!--<property name="connection.password">zpro</property>-->
       <property name="connection.password">ic_pass</property>
        <!-- zpro<property name="connection.password">zpro</property>-->

        <!-- szpro<property name="connection.password">szpro</property>-->

        <!--<property name="hibernate.session_factory_name">java:/hibernate/ICSessionFactory</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">0</property>-->
        <!--<property name="hibernate.c3p0.min_size">1</property>-->
        <!--<property name="hibernate.c3p0.max_size">15</property>-->
        <!--<property name="hibernate.c3p0.timeout">0</property>-->
        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create</property>-->
     <!--  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/imexcentral</property>
        <property name="connection.username">imexCentral</property>
        <property name="connection.password">ic_pass</property>  
       -->
        <property name="hbm2ddl.auto">none</property>
        <property name="show_sql">false</property>
        <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- mapping files -->
        <mapping resource="hibernate/DBLogEntry.hbm.xml"/>
        <mapping resource="hibernate/IMExId.hbm.xml"/>
        <mapping resource="hibernate/Journal.hbm.xml"/>
        <mapping resource="hibernate/Person.hbm.xml"/>
        <mapping resource="hibernate/PersonRole.hbm.xml"/>
        <mapping resource="hibernate/PubId.hbm.xml"/>
        <mapping resource="hibernate/PubIdType.hbm.xml"/>
        <mapping resource="hibernate/Publication.hbm.xml"/>
        <mapping resource="hibernate/PublicationComment.hbm.xml"/>
        <mapping resource="hibernate/PublicationCurationStatus.hbm.xml"/>
        <mapping resource="hibernate/PublicationPublicationStatus.hbm.xml"/>
        <mapping resource="hibernate/Organization.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
