<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- =======================================================================
 ! $HeadURL::                                                              $
 ! $Id::                                                                   $
 ! Version: $Rev::                                                         $
 !==========================================================================
 !
 ! Hibernate ORM configuration
 !
 !====================================================================== -->

<hibernate-configuration>
 <session-factory>
	   
  <!-- JNDI-style connection: set up by container-->

  <property name="connection.datasource">
   ${icentral.jdbc}
  </property>
 
  <property name="hibernate.query.factory_class">
   org.hibernate.hql.classic.ClassicQueryTranslatorFactory
  </property>

  <!-- SQL dialect -->
  <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

  <!-- Echo (or not) all executed SQL to stdout -->
  <property name="show_sql">false</property>

  <mapping resource="usermgr.hbm.xml"/>
  <mapping resource="workflow.hbm.xml"/>

  <mapping resource="data.hbm.xml"/>

 </session-factory>
</hibernate-configuration>
