<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                         http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">
<!-- =======================================================================
 ! $HeadURL::                                                              $
 ! $Id::                                                                   $
 ! Version: $Rev::                                                         $
 !==========================================================================
 !                                                                        
 ! IMEx Central: Web Application configuration file
 !                                                                        
 !====================================================================== -->

  <display-name>IMEx Central</display-name>

<!-- ===================================================== ============= -->
<!-- ===================================================== CONTEXT setup -->
<!-- ===================================================== ============= -->

  <context-param>

  <!-- ================================================== TILES context  -->

    <param-name>
      org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
    </param-name>
    <param-value>
      /WEB-INF/tiles.xml
    </param-value>

  <!-- ================================================= SPRING context  -->

    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>

  </context-param>

<!-- ===================================================== ============= -->
<!-- ===================================================== FILTERS setup -->
<!-- ===================================================== ============= -->

  <!-- ================================================== STRUTS2 filter -->

  <filter>
    <filter-name>action2</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
  </filter>
<!--
  <filter>
    <filter-name>action2</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.FilterDispatcher
    </filter-class>
  </filter>
-->
  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/page</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/edit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/user</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/uedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/feedback</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/pubmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/pubsrc</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/pubedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/pubnew</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/journalmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/jousrc</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/journaledit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/entrymgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/entryedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/usermgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/useredit</url-pattern>
  </filter-mapping>


  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/groupmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/groupedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/rolemgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/roleedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/statemgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/stateedit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/transmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>action2</filter-name>
    <url-pattern>/transedit</url-pattern>
  </filter-mapping>



<!-- =================================================== =============== -->
<!-- =================================================== LISTENERS setup -->
<!-- =================================================== =============== -->

  <!-- ========================================== STRUTS2/TILES listener -->

  <listener>
    <listener-class>
      org.apache.struts2.tiles.StrutsTilesListener
    </listener-class>
  </listener>

  <!-- ================================================= SPRING listener -->

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <!-- ================================================= JAX-WS listener -->

  <listener>
   <listener-class>
    com.sun.xml.ws.transport.http.servlet.WSServletContextListener
   </listener-class>
  </listener>

  <!-- ======================================= WSContextManager listener -->
<!--
  <listener>
   <listener-class>
    edu.ucla.mbi.proxy.WSContextManager
   </listener-class>
  </listener>
-->

<!-- =================================================== =============== -->
<!-- =================================================== Servlet startup -->
<!-- =================================================== =============== -->

  <!--
  <servlet>
   <servlet-name>imex-central</servlet-name>
   <servlet-class>
     com.sun.xml.ws.transport.http.servlet.WSServlet
   </servlet-class>
   <load-on-startup>1</load-on-startup>
  </servlet>
  -->

  <servlet>
   <servlet-name>imex-central</servlet-name>
   <servlet-class>
    com.sun.xml.ws.transport.http.servlet.WSSpringServlet
   </servlet-class>
  </servlet>

<!-- =================================================== =============== -->
<!-- =================================================== Servlet mapping -->
<!-- =================================================== =============== -->

  <servlet-mapping>
   <servlet-name>imex-central</servlet-name>
   <url-pattern>/ws</url-pattern>
  </servlet-mapping>

  <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
  </mime-mapping>
  
  <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
