<?xml version="1.0" encoding="UTF-8"?>

<!-- ===========================================================================
 ! $HeadURL::                                                                  $
 ! $Id::                                                                       $
 ! Version: $Rev::                                                             $
 !==============================================================================
 !
 ! IMEx Central: application context
 !
 !========================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"


    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd

        http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd">


<!-- ========================================================== CONFIGUATION -->

 <import resource="context.xml" />
 <import resource="aop-logger.xml" />



<!-- ========================================================= ENTRY MANAGER -->

 <bean id="entryManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.EntryManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="workflowContext" ref="workflowContext"/>
   <property name="userContext" ref="userContext"/>
   <property name="keyspaceContext" ref="keyspaceContext"/>
   
 </bean>

<!-- ==================================================== ATTACHMENT MANAGER -->

 <bean id="attachmentManager" init-method="initialize" destroy-method="cleanup"
       class="edu.ucla.mbi.imex.central.AttachmentManager">

   <property name="tracContext" ref="tracContext"/>
   <property name="userContext" ref="userContext"/>
   
 </bean>

<!-- ====================================================== DIP PROXY ACCESS -->

 <bean id="ncbiProxyClient" init-method="initialize"
          class="edu.ucla.mbi.imex.central.NcbiProxyClient">
  <property name="endpoint"
        value="http://dip.doe-mbi.ucla.edu:80/dip-proxy/ncbi-service"/>
  <property name="debug" value="false" />
 </bean>

<!-- ======================================================== STRUTS ACTIONS -->

 <import resource="actions.xml" />
 <import resource="workflow.xml" />
 <import resource="keyspace.xml" />
 <import resource="entry.xml" />


<!-- ========================================================== WEB SERVICES -->
<!-- ver 1.x -->

 <bean id="ws-v10" 
       class="edu.ucla.mbi.imex.central.ws.v10.server.IcentralPortImpl">
   <property name="entryManager" ref="entryManager"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v10" bean="#ws-v10"/>
 <wss:binding url="/ws" service="#ics-v10" />
 <wss:binding url="/ws-v10" service="#ics-v10" />

<!-- ver 2.x -->

 <bean id="ws-v20" 
       class="edu.ucla.mbi.imex.central.ws.v20.server.IcentralPortImpl">
   <property name="entryManager" ref="entryManager"/>
   <property name="delay" value="5"/>       
 </bean>

 <ws:service  id="ics-v20" bean="#ws-v20"/>
 <wss:binding url="/ws-v20" service="#ics-v20" />

</beans>
